$bg-0: #0f080e;
$bg-1: #262026;
$fg-0: #d8ded3;
$fg-1: #2b2c2a;

/* ------------------------------------------------ */
/* -------------------- imports ------------------- */
/* ------------------------------------------------ */

@import "./bar/bar.scss";
@import "./dashboard/dashboard.scss";


/* ------------------------------------------------ */
/* -------------------- general ------------------- */
/* ------------------------------------------------ */
* {
  all: unset;
}

window {
   background: #3c3836;
   font-family: JetBrainsMono Nerd Font;
   font-size: 18;
}


