
$_c0: #0f080e;
$_c1: #68095c;
$_c2: #c9c9c9;

$_c3: #6c686c;
$_c4: #3c0835;
$_c5: #986992;

$_c6: #563d53;
$_c7: #82687f;
$_c8: #6a3864;

/* ------------------------------------------------ */
/* -------------------- imports ------------------- */
/* ------------------------------------------------ */

@import "./bar/bar.scss";
@import "./dashboard/dashboard.scss";


/* ------------------------------------------------ */
/* -------------------- general ------------------- */
/* ------------------------------------------------ */
* {
  all: unset;
}

window {
   font-family: JetBrainsMono Nerd Font;
   font-size: 18;
}


