/* ------------------------------------------------ */
/* -------------------- imports ------------------- */
/* ------------------------------------------------ */

@import "./bar/bar.scss";
@import "./dashboard/dashboard.scss";


/* ------------------------------------------------ */
/* -------------------- general ------------------- */
/* ------------------------------------------------ */
* {
  all: unset;
}

window {
   background: #3c3836;
   font-family: JetBrainsMono Nerd Font;
   font-size: 18;
}


