
.bar {
  background: $bg-0;
}

/* --------------------------------------------- */
/* ----------------- workspace ----------------- */
/* --------------------------------------------- */

.active {
  color: $fg-0;
  font-size: 20px;
}

.inactive {
  color: $fg-1;
  font-size: 20px;
}

/* --------------------------------------------- */
/* ---------------- top widgets ---------------- */
/* --------------------------------------------- */

.hour {
  padding: 8px 10px 12px 10px;
  margin-bottom: 5px;
  border-radius: 0px 0px 10px 10px;
  color: $fg-0;
  background: $bg-1;
}

.today {
  margin: 0px 0px 8px 0px;
  background: #d65d0e;
  color: #222222;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

.battery {
  background: #cc241d;
  color: #222222;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

.updates {

  margin: 8px 0px 8px 0px;
  background: #928374;
  color: #222222;
  padding: 11px;
  font-size: 14px;
  
  border-radius: 5px;

}

/* --------------------------------------------- */
/* --------------- bottom widget --------------- */
/* --------------------------------------------- */

.bottom-icon {

  font-size: 20px;
  padding: 8px 0px 10px 0px;
  margin-top: 3px;
  background: $bg-1;
  color: $fg-0;

  border-radius: 10px 10px 0px 0px;
}

.memory {
  margin: 8px 0px 8px 0px;
  background: #d65d0e;
  color: #222222;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

.cpu {
  margin-top: 8px;
  background: #cc241d;
  color: #222222;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

.volume {
  margin-top: 8px;
  background: #928374;
  color: #222222;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

.bright {
  margin-top: 8px;
  background: #d3869b;
  color: #222222;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}
