.myCalendar {
  padding: 26px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid $_c2;
}

calendar {
  &:selected {
    background: $_c2;
    color: $_c0;
    border-radius: 5px;
  }
}

.time {
  font-size: 22px;
}

.metricBox {
  border-radius: 5px;
  border: 2px solid $_c2;
}

.metricData {
  font-size: 20px;
  padding: 0px 20px 0px 10px;
}

.metricIcon {
  font-size: 22px;
  padding: 0px 25px 0px 10px;
  background: $_c2;
  color: $_c0;
}

.powerButton {
  border-radius: 5px;
  border: 2px solid $_c2;
  padding: 2px 48px 2px 48px;
}

.mediaPlayer {

  border: 2px solid $_c2;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-width: 100px;
  min-height: 100px;
}

.dashboard {  
  border-radius: 5px;
  border: 2px solid $_c2;
  background: $_c0; 
  padding: 10px 10px 10px 10px;
}

.userData {
  background: $_c0;
  color: $_c2;
  margin: 0px 10px;
}

.myUser {
  border-radius: 5px;
  border: 2px solid $_c2;
}

/* --------------------------------------------- */
/* ------------------- user -------------------- */
/* --------------------------------------------- */

.userImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 5px;
  min-width: 100px;
  min-height: 100px;
}

/* --------------------------------------------- */
/* ---------------- media player --------------- */
/* --------------------------------------------- */

.mediaButtons {
  margin: 5px 0px;
  padding: 0px 15px;
  color: $_c2;
  padding: 0px 0px 0px 10px;
}

.mediaSong {
  padding: 10px 0px 0px 10px;
  color: $_c2;
}

.mediaData {
  background-color: rgba(0, 0, 0, 0.5);
}

.mediaProgress {
  padding: 184px 0px 0px 0px;
}

scale.mediaProgress trough {
  background: $_c6;
  min-width: 200px;
  min-height: 4px;
}

scale.mediaProgress trough highlight {
  background: $_c2; 
}
